.limit{
  margin: 0 auto;
  max-width: 1170px;
}
.list{
  margin: 100px 0 20px 0;
}
.d-flex{
  display: flex;
}
.user-item{
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 40px 0;
}
.user-name {
  margin:0 30px 0 0;
}
.user-tel{
  margin:0 30px 0 0;
}
.s-button{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  background: #98f7ee;
  font-weight: 600;
  font-size: 14px;
}
.s-button:hover{
  background: #44efef;
}
.del-button{
  margin: 0 15px 0 0;
}
.open-create-modal{
  display: block;
  margin: 0 auto;
  padding: 12px 30px;
}
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal-create {
  padding: 90px 70px;
  border-radius: 15px;
  background-color: white;
  width: 30vw;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal-form{
  flex-direction: column;
  justify-content: center;
}
.modal-input{
  padding: 15px;
  margin: 0 0 30px 0;
  border-radius: 20px;
  outline: none;
  border: 1px solid #b9b9b9;
}
.modal-form label{
  padding: 0 0 5px 0;
}
.modal-btns{
  margin: 10px 0 0 0;
}
.modal-btn{
  padding: 10px;
  cursor: pointer;
  width:calc((100%-20px)/2);
  margin: 0 20px 0 0;
}
.modal-btn:last-child{
  margin: 0;
}